.discussion {
	width: 300px;
	padding: 25px;
	border: 25px solid navy;
	margin: 25px;
}

.mytext {
	width: 300px;
	height: 200px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    background-color: #b0e0e6;
}