@charset "UTF-8";
/* CSS Document */

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}
  
  #site_content
{ width: 880px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;} 
  
  #content
{ text-align: center;
  width:850px;
  padding: 0 0 0 5px;
  float: left;}
  
#content ul
{ margin: 2px 0 22px 0px;}

#content ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

html, body {
    background-color:#FFF;
    height:100%;
    margin:0;
    padding:0;
}
.wrapper {
    min-height:100%;
    position:relative;
    padding-top:9em;
    padding-bottom:11em;
    overflow:hidden;
}
header {
    background:#EBF0FF;
    position:absolute;
    height:9em;
    width:100%;
    top:0;
    left:0;
    right:0;
    padding-top:1.5em;
    padding-left:7.5em;
    padding-bottom:3em;
}
#logo {
    float:left;
    margin-right:2em;
}
.login {
    background-color:#182F50;
    float:right;
    position:absolute;
    top:0;
    margin-left:46em;
    margin-right:7em;
    padding:1em;
    padding-top:3em;
}
#loginBox {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding:2em;
    padding-left:6em;
    padding-right:6em;
    position: absolute;
    background:#FFF8DC;
    border: solid #8B8970 2px;
    z-index: 9;
    visibility: hidden;
}
#registerBox {
    margin: 0;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    padding:2em;
    padding-left:6em;
    padding-right:6em;
    position: absolute;
    background:#FFF8DC;
    border: solid #8B8970 2px;
    z-index: 9;
    visibility: hidden;
}
a:hover {
    color:#4D94FF;
}
nav {
    position:relative;
    box-shadow: 8px 8px 8px #333;
    background-color:#315EA0;
    padding:1.5em;
    margin-top:2.1em;
    margin-left:7em;
    margin-right:7em;
}
ul {
    padding: 0;
    margin: 0;
    text-align:center;
}
#ul2 {

}
ul a:hover {
    background:#182F50;
    color:#FFF8DC;
    padding:1.5em;
}
li {
    display: inline;
}
li a {
    color:#FFF;	
    text-decoration:none;
    padding:1.5em;
}
a {
    color:#FFF8DC;
    text-decoration:none;
}
#a2 {
    color:#700000;
}
#a3 {
    color:#FFF8DC;
}
#a4 {
    padding:1.5em;
    color:#FFF8DC;
    text-decoration:none;
}
.divider {
    color:#FFF8DC;
}
section {
    color:#444;
    margin-top:3em;
    padding-top:1em;
    padding-left:2em;
    padding-right:2em;
    margin-left:5em;
    margin-right:5em;
    margin-bottom:8em;
}
.about {
    color:#444;
    margin-top:3em;
    padding-top:1em;
    padding-left:2em;
    padding-right:2em;
    margin-bottom:8em;
}
.image {
    background-color:#8B8970;
    box-shadow: 8px 8px 8px #333;
    padding:2em;
    overflow:hidden;
}
#left {
    float:left;
    width:65%;
}
#top-right {
    float:right;
    width:30%;
    margin-bottom:2em;
}
#bottom-right {
    width:30%;
    float:right;
}
article {
    color:#555;
    padding:1em;
    margin-top:3em;
    margin-bottom:5em;
    line-height:175%;
}
.content {
    color:#555;
    padding:1em;
    margin-top:3em;
    margin-left:5em;
    margin-right:5em;
    margin-bottom:5em;
    line-height:175%;
}
.map_canvas {
    background-color:#8B8970;
    box-shadow: 8px 8px 8px #333;
    padding:2em;
    margin-right:5em;
    margin-left:5em;
    overflow:hidden;
}
.holder {
    margin-top:2em;
    margin-left:6em;
    margin-right:6em;
}
.selectBox {
    margin-left:6em;
    margin-right:6em;
}
#contactForm {
    padding:2em;
}
.upload {
    width: 300px;
    height: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
}
.leftcol {
    width: 300px;
    margin-right: 80px;
    display: inline-block;
}
.rightcol {
    width: 500px;
    float: right;
    display: inline-block;
}
.rightcol2 {
    border-left:solid 2px #555;
    width: 500px;
    float: right;
    display: inline-block;
    margin-right:6em;
    padding-left:5em;
    padding-bottom:2em;
}
.key {
    float: left;
    margin-bottom: 8em;
}
#map_canvas2 {
    width: 450px;
    height: 350px;
}
#header {
    margin-top:11em;
    border-top:2px solid #555;
    padding-top:2em;
    margin-bottom:2em;
}
#directions {
    float:right;
    margin-right:11em;
}
.loginform {
    text-align:center;
}
label {
    display:list-item;
    list-style:none;
}
#details {
    text-align:left;
    display:list-item;
    list-style:none;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
table {
    border-collapse:collapse;
    width:100%;
}
th {
    background-color:#8B8970;
    color:#700000;
    padding:0.5em;
}
td
{
    text-align:center;
    padding:0.5em;
    border-bottom: 1px solid #8B8970;
}
table tr td a {
    color:#700000;
    padding:0;
}
.textBox {
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
}
textarea {
    width: 300px;
    height: 80px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-left: 10px;
}
.rbutton {
    background-color:#700000;
    color:#FFF8DC;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    padding-top:1em;
    padding-bottom:2em;
    padding-left:4.5em;
    padding-right:4.5em;
}
.rbutton2 {
    background-color:#700000;
    color:#FFF8DC;
    padding-top:1.5em;
    padding-bottom:1.5em;
    padding-left:5em;
    padding-right:5em;
}
.facebook {
    border-right:2px solid rgb(108,106,86);
}
.twitter {

}
footer {
    background:#EBF0FF;
    color:#4D94FF;
    text-align:center;
    padding:1.5em;
    padding-bottom:3em;
    position:absolute;
    height:5em;
    width:100%;
    right:0;
    left:0;
    bottom:0;
}
h1 {
    color:#315EA0;
	 text-decoration:underline;
	
}
h2 {
    color:#315EA0;
	 text-decoration:underline;
}
h3 {
    color:#4D94FF;
}
p {
    border-top:2px solid #555;
    padding-top:1.5em;
    margin-top:1.5em;
}